.ant-radio-group {
    padding: 0;
    margin-bottom: 7px;
    color: #4a4a4a;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;

    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.ant-radio-button-wrapper {
    padding: 8px 20px; /* Задайте желаемое значение вертикального и горизонтального паддинга */
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(
        .ant-radio-button-wrapper-disabled
    ) {
    background-color: #2196f3;
    border-color: rgba(128, 128, 128, 0.597);
    color: #ffffff; /* Желаемый цвет текста внутри выделенной кнопки */
}

.custom-button-group .ant-radio-button-wrapper {
    height: 55px; /* Задайте желаемую высоту кнопок */
}
