* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    height: 252px;
    width: 232px;
    background-color: #fff;
}

.title {
    color: #4a4a4a;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 100% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    height: 30px;
    margin-left: 20px;
}

.checkbox_wrapper_42 input[type='checkbox'] {
    display: none;
    visibility: hidden;
}

.checkbox_wrapper_42 label {
    display: inline-block;
    color: #4a4a4a;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.checkbox_wrapper_42 .cbx {
    position: relative;
    top: 1px;
    width: 15px;
    height: 15px;
    border: 1px solid #c8ccd4;
    border-radius: 2px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
}
.checkbox_wrapper_42 .cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 4px;
    height: 9px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 1.5px solid #2196f3;
    border-bottom: 1.5px solid #2196f3;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}
.checkbox_wrapper_42 .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 3px;
}

.checkbox_wrapper_42 input[type='checkbox']:checked ~ .cbx {
    border-color: #2196f3;
    background: #fff;
    animation: jelly-42 0.6s ease;
}
.checkbox_wrapper_42 input[type='checkbox']:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}
.checkbox_wrapper_42 .cntr {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}
@-moz-keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}
@-webkit-keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}
@-o-keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}
@keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}

.checkbox_wrapper_42:hover {
    background-color: #f1fcff;
}

.checkbox_wrapper_42 {
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
