.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.wrapper {
    width: 960px;
    background: #f3f7fa;
    min-height: 100vh;
}

.main {
    margin-top: 40px;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
}
